$members-menu-width: 450px;
$side-nav-width: 56px;
$box-radius: 8px;
$card-border-radius: 8px;
$primary: #1a6ffd;
$primary-darker: #1452d0;
$primary-lighter: #5a8ef6;
$gradient: linear-gradient(110.62deg, $primary 25%, $primary-darker 75.78%);
$lighter: #7783f2;
$fade: #f1f3fa;
$fade2: #fafcff;
$secondary: #17e1ee;
$secondary-light: #17e1ee28;
$warning: #f4305f;
$warning-light: #fdf3f6;
$success: #4caf50;
$success-light: #e8fff4;
$font: #373b5e;
$font-light: #a6b1cf;
$font-disable: #a6b1cf70;
$white: #fff;
$white-light: #ffffffbf;
$white-disable: #ffffff70;
$grey-1: #f6f6f6;
$grey-2: #ebebeb;
$grey-3: #c4c4c4;
$grey-5: #707070;
$grey-7: #212121;
$shadow-default: 0 0 8px rgb(57 67 171 / 8%);
$shadow-hover: 0 0 16px rgb(57 67 171 / 24%);
$shadow-modal: 0 0 40px rgb(57 67 171 / 24%);
$box-shadow: 0 3px 1px -2px rgb(221 225 252 / 1%), 0 2px 2px 0 rgb(221 225 252 / 1%), 0 1px 5px 0 rgb(221 225 252 / 7%) !important;
$adlin-grey-2: #dde1fc;
$adlin-grey-3: #a6b1cf;
