@use 'variables';
@use 'positioning';
@use 'flexbox';
@use 'scroll';
@use 'background';
@use 'fonts';
@use 'sizes';

*,
*::before {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html,
body,
#app {
  max-width: 2000px;
  box-sizing: border-box;
  box-shadow: 0 0 10px black;
  scroll-behavior: smooth;
  font-family: Manrope, serif;
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px 20px 20px;
  padding-top: 15px;
  background: variables.$fade;
  scrollbar-width: thin;
  scrollbar-color: lightgray transparent;
  font-size: 25px;
}

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
}

*:focus {
  outline: 0;
}
